
body {
    background: rgb(36, 37, 43);
}
.container {
      
      display: flex;
      flex-direction: column;
      justify-content: center;
       font-family: Arial, Helvetica, sans-serif;
}
ul {
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    list-style-type: none;
  justify-content: center;
   
}
 p {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 20px 0px 0px 10px;
}
span {
    padding-left: 10px;
}
li {
    align-items: center;
}
.item1, .item2,.item12,.item13,.item29,.item33 {
    border: 3px solid yellow;
    color: yellow;
}
.item10, .item11,.item19,.item20,.item21,.item30,.item31 {
    border: 3px solid red;
    color: red;
}
.item8, .item9,.item14,.item15,.item24,.item25,.item32,.item34,.item35,.item36 {
    border: 3px solid green;
    color: green;
}
.item7, .item16,.item17,.item18,.item22,.item23,.item26,.item27 {
    border: 3px solid rgb(59, 118, 194);
    color:  rgb(59, 118, 194);
}

.foot1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    color: azure;
}
.bote{
    display: block;
    height: 20px;
    width: 20px;
    background: yellow;
    margin: 0px;
    padding: 0px;
}
.hed {
    display: flex;
    flex-direction: row;
}
.botg{
    display: block;
    height: 20px;
    width: 20px;
    background: green;
    margin: 0px 0px 0px 20px;
    padding: 0px;
}
.botb{
    display: block;
    height: 20px;
    width: 20px;
    background: rgb(59, 118, 194);
    margin: 0px 0px 0px 20px;
    padding: 0px;
}
.botr{
    display: block;
    height: 20px;
    width: 20px;
    background: red;
    margin: 0px 0px 0px 20px;
    padding: 0px;
}
.foot2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    color: azure;
}
.right::before {
    content: '→';
    margin-right: 20px;
}
.doun::before {
    content: '↓';
    margin-right: 20px;
}
.doun {
    margin-left: 30px;
}
.bote:hover {
    background: rgb(122, 115, 18);
    transition: 0.3s;
}
.botg:hover {
    background: rgb(44, 65, 12);
    transition: 0.3s;
}
.botb:hover {
    background: rgb(21, 37, 90);
    transition: 0.3s;
}
.botr:hover {
    background: rgb(70, 23, 8);
    transition: 0.3s;
}