
@font-face {
  font-family:url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') ;
  src: url();
} 
body {font-family: Roboto;
  font-size: 20px;
  line-height: 25px;
}
p {margin: 0px 0px 20px 0px;}

ol {list-style-type: none;
counter-reset: item;}

 li:before {content: counter(item) ")"; 
  counter-increment: item;}

.skobka {list-style-type: lower-alpha;}
h2 {text-align: center;}

