div {text-transform: capitalize;

text-decoration: underline;
text-decoration-skip-ink: none;
text-decoration-color: rgb(233, 134, 228);
text-decoration-thickness:10px; 
vertical-align: baseline;
text-underline-offset: -10px;
text-align: center;
padding: 0 10%;
}
body {padding: 0 15em;}
h1 {text-align: left;}


