.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    font-size: 20px;
    color: white;
    justify-content: space-between;
}

.card {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(8, 80px);
    gap: 5px 5px;
    margin: 10px;

}

.photochop,
.invision,
.ux,
.layout,
.design {
    background: rgb(78, 166, 201);
}

.javascript,
.ruby,
.go,
.css,
.php,
.webdew,
.rust,
.html {
    background: rgb(54, 136, 97);
}

.motion,
.maya,
.nuke,
.cinema4d,
.afterefect {
    background: blueviolet;
}

.photochop {
    grid-column: 1/2;
    grid-row: 1/2;
}

.invision {
    grid-column: 2/3;
    grid-row: 1/2;
}

.ux {
    grid-column: 3/4;
    grid-row: 1/2;
}

.design {
    grid-column: 2/4;
    grid-row: 2/4;
}

.rust {
    grid-column: -2/-3;
    grid-row: 2/3;
}

.html {
    grid-column: -2/-3;
    grid-row: 3/4;
}

.php {
    grid-column: 4/5;
    grid-row: 3/4;
}

.javascript {
    grid-column: 2/3;
    grid-row: 4/5;
}

.layout {
    grid-column: 3/4;
    grid-row: 4/5;
}

.webdew {
    grid-column: 4/6;
    grid-row: 4/6;
}

.ruby {
    grid-column: 2/3;
    grid-row: -4/-5;
}

.css {
    grid-column: 3/4;
    grid-row: -4/-5;
}

.go {
    grid-column: 2/3;
    grid-row: -3/-4;
}

.motion {
    grid-column: 3/5;
    grid-row: -2/-4;
}

.maya {
    grid-column: -2/-3;
    grid-row: -3/-4;
}

.nuke {
    grid-column: -1/-2;
    grid-row: -3/-4;
}

.cinema4d {
    grid-column: -2/-3;
    grid-row: -2/-3;
}

.afterefect {
    grid-column: -3/-4;
    grid-row: -1/-2;
}
.nuke:hover {   
    display: none; 
    transition: 0.3s;
    grid-column: -1/-2;
    grid-row: -1/-2;
    display: block;     
}
/*-----Т Е Т Р И С----*/
.tetris {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(12, 50px);
  list-style-type: none;
    margin: 10px;
}

.e {
    background-color: yellow;
   
    border-right: 5px solid rgb(138, 138, 6);
    border-top: 5px solid rgb(233, 233, 6);
    border-bottom: 5px solid rgb(233, 233, 6);
    border-left: 5px solid rgb(240, 240, 174);
}
.bl {
   
    background-color: blue;
    border-right: 5px solid rgb(5, 5, 156);
    border-top: 5px solid rgb(53, 53, 245);
    border-bottom: 5px solid  rgb(53, 53, 245);
    border-left: 5px solid rgb(152, 152, 247);
}
.lb {
   
    background-color: rgb(99, 209, 212);
    border-right: 5px solid rgb(5, 133, 138);
    border-top: 5px solid rgb(45, 240, 247);
    border-bottom: 5px solid rgb(45, 240, 247);
    border-left: 5px solid rgb(185, 241, 243);
}

.g {
   
    background-color: green;
    border-right: 5px solid rgb(2, 65, 2);
    border-top: 5px solid rgb(40, 141, 40);
    border-bottom: 5px solid rgb(40, 141, 40);
    border-left: 5px solid rgb(141, 243, 141);
}
.r {
   
    background-color: red;
    border-right: 5px solid rgb(124, 4, 4);
    border-top: 5px solid rgb(247, 33, 33);
    border-bottom: 5px solid rgb(247, 33, 33);
    border-left: 5px solid rgb(247, 148, 148);
}
.br {
 
    background-color: rgb(165, 81, 42);
    border-right: 5px solid rgb(75, 36, 18);
    border-top: 5px solid rgb(156, 53, 5);
    border-bottom: 5px solid rgb(156, 53, 5);
    border-left: 5px solid rgb(235, 142, 99);
}
}