
form {
    margin: 0 au;
    width: 630px;
    border: 3px solid rgb(175, 172, 172);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
   
  
}
div {
    margin: 10px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
span {
position: relative;
top: 20px;
color: rgb(161, 156, 156);
}
button {
    margin: 10px 0 0 0;
}
