


 ul {
    display: none;
}


li:hover >ul {
    display: block;
   
}


li .message::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: #00e1ff;
    transform: rotate(45deg);
    z-index: 1;
    top: 150px;
    left: 80px;
   
}
li .logout::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: #00e1ff;
    transform: rotate(45deg);
    z-index: 1;
    top: 283px;
    left: 80px;  
}
.meny {
    display: flex;
    flex-direction: column;
    background: #00e1ff;
    color: azure;
    font-size: 40px;
    border-radius: 5px;
    margin-left: 40px;
}
li {
    padding: 10px 10px 10px 0px;
    text-shadow: none;
    border-bottom: 1px solid #cdecf0;
    margin-right: 0px;
    align-items: stretch;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    
}
ul {
    list-style: none;
    padding-left: 0px;
    width: 400px;
    white-space: nowrap;
    padding-right: 0px; 
}
li ul li {
    border-bottom: none;
}
li ul {background: black;}
img {
    width: 30px;
}
.blu {
    position: relative;
    top: -60px;
    width: 10px;
    background: #00e1ff;
    color: #00e1ff;
}
span {
    padding-left: 40px;   
}
