*{
    padding: 0;
    margin: 0;
}
.elements {
    display: flex;
    flex-wrap: wrap;
    background: rgb(226, 224, 224);
    justify-content: center;
    padding: 30px 50px;  
}
.prais {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    justify-content: flex-end;
    background: white;
    width: 220px;
    border: 0 solid ;
    margin: 10px 10px;
    box-shadow: 5px 5px 2px  rgb(204, 202, 202),
    -5px 5px 2px    rgb(204, 202, 202);
}
header {
    margin: 10px;
    padding: 30px 5px;
    align-self: center;
}
main {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px; 
   }
.stars > span:before {
	content: '★';
    font-size: 20px;
    margin: 0px;
    padding: 0px;}
.hstar {
    color: rgb(125, 128, 127);  
    }
footer div .hstar {border: 1px dotted
    rgb(146, 144, 144);
    padding: 0px;
   margin: 0px;
   }
footer div span {border: 1px dotted
     rgb(230, 158, 158);
    padding: 0px;
    margin: 0px;
}
footer span {color: crimson;
    }
.cost { 
    color: black;
    }
.txt {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 10px;
    }
.name {
    font-size: 14px;
    align-self: stretch;
    margin: 10px 5px 10px 0px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    align-self: stretch;
    margin: 10px 0px 10px 0px;
    color: rgb(141, 142, 145);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.portfel {
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 25%;
    width: 40px;
    height: 40px;
    background: red;
    color: white;  
}
.portfel span {
    align-self: center; 
}
 .col {
    background: rgb(224, 222, 222);
 }   
    
