
* {
    margin: 0;
padding: 0;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(78, 196, 137);
    height: 600px;
    padding: 100px;
}
.card {
    display: flex;
    flex-direction: row;
    border: 1px colid black;
    width: 420px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-radius: 2%;
}
.imege {
    position: relative;
    left: -50px;
}
.leftcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    background: rgb(157, 197, 63);
    padding: 0px;
    height: 300px;
    position: relative;
    left: -20px;
    bottom: -50px;
 justify-content: space-between;
 box-shadow: 5px 5px 5px rgb(185, 183, 183);
}
.lefticons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
    align-self: stretch;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  
}
.lefticons .li1, .lefticons .li2, .lefticons .li3, .lefticons .li4 {
    border: 1px solid black;
    border-radius: 5%;
    margin: 5px;
    align-self: center;
}
/*------правая часть карточки*/
.rightcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background: white;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
   
}
.name {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0px;
}
.cost {
    font-size: 25px;
    color: red;
    margin-bottom: 10px;
}
.cost::before {
    content: 'R$';
    font-size: 14px;
    padding-right: 10px;
   
}
span {
    color: rgb(144, 146, 146);
   margin: 10px 0px;
    font-size: 10px;
}
 

.select {
    display: flex;
    flex-direction: row;
margin-bottom: 10px;
}
ul {padding: 0px 10px 10px 15px;
font-size: 12px;
width: 300px;
margin-bottom: 10px;
}
.li {padding: 5px;
margin:10px ;}
.select .li1 {border: 1px solid black;}


.botton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10%;
    background: red;
    color: white;
    width: 150px;
    padding: 10px 0px;
    font-weight: 700;
    
    
}