
*{
    padding: 0px; margin: 0px;
}
.page {
    display: flex;
    padding: 0px 50px;
    background: rgb(224, 223, 223);
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 200px;
    height: 400px;
    background: white;
    margin: 20px;
    border: 1px solid rgb(207, 205, 205);
    
}
.news {
    display: flex; 
    flex-direction: row;  
    align-self: flex-end; 
    justify-content: center;
    align-content: center;
background: black;
color: white;
font-weight: 700;
width: 50px;
padding: 5px;
font-size: 10px;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0px 0px;
    border: 2px solid white;
}
.imagenon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0px 0px;
    border: 2px solid white;
    padding-top: 20px;
}
.line {
    display: block;
    background: rgb(218, 214, 214);
    height: 1px;
    width: 180px;
    margin:0px auto ;
    box-shadow: 0 1px 5px rgb(77, 76, 76);
    
}
.name {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    justify-content: center;
    align-content: center;
}
.cost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px auto;
}
.raiting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
   
}
.star::before {
    content: "\2605";
    color: orangered;
    margin-right: 2px;
}
.starbleck::before {
    content: "\2605"; 
    color: gray;
}
.coins {
    display: inline-flex;
    color: orangered;
    height: 10px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.coins img {
    fill: orangered;
}

.add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: green;
    color: white;
    margin: 0px 20px 10px 20px;
    padding: 10px;
}
.coins svg {
    fill: orangered;
    width: 10px;
    margin: 0px 2px 0px 10px;
}
.bold {
    color: green;
    margin-right: 5px;
    font-weight: 700;
}
.add svg {
    width: 11px;
    fill: white;
    padding-right: 10px;
    padding-bottom: 1px;
}